@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffffc0;
    --foreground: #070114;

    --card: #ffffff;
    --card-foreground: #070114;

    --popover: #ffffff;
    --popover-foreground: #070114;

    --primary: #0d101f;
    --primary-foreground: #f6f9ff;

    --secondary: #f1f5fb;
    --secondary-foreground: #0d101f;

    --muted: #f1f5fb;
    --muted-foreground: #787878;

    --accent: #f1f5fb;
    --accent-foreground: #0d101f;

    --destructive: #f25475;
    --destructive-foreground: #f6f9ff;

    --border: #d9e2ee;
    --input: #d9e2ee;
    --ring: #070114;

    --radius: 0.5rem;
  }

  .dark {
    --background: #000000c0;
    --foreground: #f6f9ff;

    --card: #070114;
    --card-foreground: #f6f9ff;

    --popover: #070114;
    --popover-foreground: #f6f9ff;

    --primary: #f6f9ff;
    --primary-foreground: #0d101f;

    --secondary: #282f3b;
    --secondary-foreground: #f6f9ff;

    --muted: #282f3b;
    --muted-foreground: #8499b4;

    --accent: #282f3b;
    --accent-foreground: #f6f9ff;

    --destructive: #9f343f;
    --destructive-foreground: #f6f9ff;

    --border: #282f3b;
    --input: #282f3b;
    --ring: #cbd7eb;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
